@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(
        to right top,
        #051937,
        #0b1a46,
        #1c1953,
        #32135d,
        #4a0063
    );
    font-family: "Press Start 2P", cursive;
}

h1 {
    color: white;
    text-shadow: 5px 5px #8600b2;
}

.container {
    width: 500px;
    height: 500px;
    display: grid;
    border: 5px solid rgb(63, 0, 180);
}

.buttons {
    margin-top: 20px;
}

button {
    border-radius: 5px;
    width: 88px;
    height: 30px;
    font-weight: bold;
    font-family: "Press Start 2P";
    font-size: 8px;
}

button:hover {
    background-color: #d9d9d9;
}

button:active {
    background-color: #bababa;
    transform: translateY(4px);
}

.boxes {
    background-color: white;
}

.footer {
    display: flex;
    margin-top: 50px;
    color: white;
    font-size: small;
}
